.genreSelectionContainer {
  display: flex;
  flex-flow: row wrap;
  margin: 0 12rem;
  justify-content: center;
  margin-bottom: 4rem;
}

@media screen and (max-width: 504px)  {
  .genreSelectionContainer {
    margin: 4rem 0rem;
  }  
}

.outerContainer {
  padding: 2rem 0rem 8rem 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
}

.header {
  position: relative;
}

.outerContainer .title {
  font-size: 2.4rem;
}

.backButton {
  position: absolute !important;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  font-size: 1.2rem !important;
}
