.genreSelectionContainer {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

@media screen and (max-width: 504px)  {
  .genreSelectionContainer {
    margin: 4rem 2rem;
  }  
}

.outerContainer {
  margin: 2rem 0;
}

.header {
  position: relative;
}

.backButton {
  position: absolute !important;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  font-size: 1.2rem !important;
}
