.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 30vw;
  margin: 8rem 0;
}

h1 {
  font-size: 2.2rem;
  margin: 3.2rem 0;
}

.infoIcon {
  border: 1px solid white;
  border-radius: 50rem;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.actualPopularity {
  font-size: 1.6rem;
  margin-top: 2.4rem;
}

@media screen and (max-width: 504px)  {
  .mainContainer {
    width: 100%;
  }
}

#slider {
  font-size: 1.8rem;
  margin: 0;
}

.points {
  font-weight: bold;
  font-size: 2.4rem;
  margin-top: 10rem;
}