.trackContainer {
  margin: 1rem auto 3rem auto
}

.trackContainer, audio {
  width: 35rem;
}

.track {
  display: flex;
  background: #3c3c3c;
  border-radius: 0.5rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.track img {
  width: 8rem;
}

.trackInfo {
  margin: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  flex: 1;
}

.name {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.artists {
  font-size: 1.2rem;
  font-style: italic;
}

audio {
  margin-top: 1rem;
}