.genreBlockContainer {
  height: 28rem;
  width: 18rem;
  border: 1px solid white;
  border-radius: 0.2rem;
  margin: 1rem;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(76, 76, 76, 0.8);
  background-blend-mode: multiply;
  cursor: pointer;
}

.genreBlockContainer:hover {
  background-color: rgba(76, 76, 76, 0.2);
}

.genreName {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px #000000;
}

.selectionIndicator {
  height: 2rem;
  width: 2rem;
  color: white;
  background: #1db954;
  position: absolute;
  top: 1rem;
  font-size: 1.6rem;
  right: 1rem;
  border-radius: 20rem;
  font-weight: bold;
}

@media screen and (max-width: 504px)  {
  .genreBlockContainer {
    flex: 1 0 25%;
    height: 16rem;
  }  
  .genreName {
    font-size: 1.6rem;
  }
}