.iframe {
  display: block;
  width: 18rem;
  height: 5rem;
  border-radius: 2rem;
  z-index: 2;
}

.iframeContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex: 1;
  justify-content: center;
}