html {
  font-size: 62.5%;
  height: 100%;
}

.app {
  text-align: center;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, #000000 0%,#23292b);
  position: relative;
  display: flex;
  justify-content: center;
  color: white;
}

.submitButton, .nextButton, .playButton {
  min-width: 14rem !important;
  font-size: 2rem !important;
  background: #1db954 !important;
  text-transform: none !important;
  text-decoration: none;
  color: #ffffff !important;
  font-weight: 500 !important;
  border-radius: 1.6rem !important;
  border: none;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

@media screen and (max-width: 504px)  {
  .app {
    padding: 2rem;
  }
}