html, body, #root {
  font-size: 62.5%;
  height: 100%;
}

.app {
  text-align: center;
  min-height: 100%;
  background: linear-gradient(to bottom, #000000 0%,#23292b);
  position: relative;
  display: flex;
  justify-content: center;
  color: white;
  overflow: scroll;
}

@media screen and (max-width: 504px)  {
  html {
    font-size: 58%;
  }
  .app {
    padding: 0 3rem;
  }
}


@media screen and (max-width: 350px)  {
  .app {
    padding: 0.2rem;
  }
}