html {
  font-size: 62.5%;
  height: 100%;
}

.app {
  text-align: center;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, #000000 0%,#23292b);
  position: relative;
  display: flex;
  justify-content: center;
  color: white;
}

.loginButton {
  margin: auto 0;
  font-size: 2rem;
  padding: 2rem;
  background: #1db954;
  color: #ffffff;
  font-weight: 600;
  border-radius: 4rem;
  border: none;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.loginButton:hover {
  background: #36c568;
  transform-origin: center;
  box-shadow: 0rem 0.4rem 3rem #cccccc;
  transform: scale(1.1) translateY(-0.6rem);
}

.loginButton:active {
  border: none;
}


@media screen and (max-width: 504px)  {
  .app {
    padding: 2rem;
  }
}