.homeContainer {
  display: flex;
  flex-direction: column;
  width: 42rem;
  margin: auto 0;
}

.buttonsContainer {
  display: flex;
  justify-content: space-evenly;  
}

.title {
  margin-bottom: 4rem;
  font-size: 4rem;
}

.instructions {
  text-align: center;
  width: 100%;
  font-size: 1.4rem;
  margin: 0 0 4.2rem auto;
  font-style: italic;
}